.header {
  background-image: url("../../assets/header_bgr.JPEG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 65vh;
  position: relative;
  z-index: 3;
}
.logoImg {
  height: 20px;
  width: 90px;
}

.row_header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.747);
  margin: 0;
  padding: 0 5%;
}
.navigation_wrapper nav,
.logo_social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  transition: all 0.3s ease;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logoImg_tg,
.logoImg_watsapp,
.logoImg_viber {
  height: 20px;
  width: 20px;
}
.layer_bgr {
  background-color: rgba(0, 0, 0, 0.852);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.navigation_wrapper a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 14px;
  line-height: 18px;
}
.row_title {
  text-align: center;
}
.header__title {
  color: rgb(255, 255, 255);
  font-size: 43px;
  line-height: 56px;
}
.header__subtitle {
  color: rgb(255, 255, 255);
  font-size: 32px;
  line-height: 38px;
}
.row_title {
  margin-top: 25%;
}
.navigation_wrapper nav a:hover {
  color: rgb(238, 35, 35);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .navigation_wrapper,
  .social {
    display: none;
  }
}
